button {
  margin-bottom: 10px;
  margin-right: 0px;
  cursor: pointer;
}

.sticky-footer {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
}

.name {
  font-size: 14px !important;
}

.extra,
.link {
  font-size: 14px !important;
}

.drop {
  font-size: 16px !important;
}

.card {
  text-align: center;
}

.card-body {
  display: inline-block;
  text-align: center;
}

.card-header {
  font-size: 18px;
  font-weight: bolder;
}

.badge:hover {
  color: rgba(247, 247, 247, 0.445) !important;
}

.badge-light:hover {
  color: rgba(56, 56, 56, 0.445) !important;
}

.play {
  margin-right: 5px;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.icon-large {
  font-size: 24px;
}

#new {
  font-style: italic;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacer {
  flex: 1;
}

.total-count,
.other-total,
.char-1,
.char-2,
.char-3,
.char-4 {
  pointer-events: none;
  cursor: default;
}

@media screen and (max-width: 532px) {
  .navbar {
    margin-bottom: 20px !important;
  }

  .name,
  .link {
    font-size: 16px !important;
  }
}